/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-hudsonblock-postgoback{
  margin-top: 1em;
}
.post-goback-container {
  display: flex;
  flex-direction:row;
}
.post-goback-img-container{
  background-color: white;
}
.post-goback-container .post-thumbnail{
  height: auto;
  width: 10em;
  height: 10em;
}

.post-goback-container .post-goback-img-container{
  max-width: 15em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.post-goback-container .post-goback-category {
  flex: 5;
}

.post-goback-container .categories-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.post-goback-container .categories-container p{
  text-align: center;
}

.back-button {
  display: flex;
  /* 使用 flexbox 布局 */
  align-items: center;
  /* 垂直居中对齐 */
  cursor: pointer;
  /* 鼠标悬停时显示为指针 */
}

.back-link {
  text-decoration: none;
  /* 去掉链接下划线 */
  color: #000;
  /* 字体颜色 */
  display: flex;
  /* 使用 flexbox 布局 */
  align-items: center;
  /* 垂直居中对齐 */
}

.arrow {
  margin-right: 5px;
  display: flex;
  font-size: 20px;
}

.text {
  font-size: 16px;
  background-color: #fbcdb3;
}
.post-goback-img-container img{
  margin:0 !important;
}


/* 响应式设计 */
@media (max-width: 600px) {
  .post-goback-img-container.post-goback-item{
    max-width: 10em;
  }
  .arrow {
    font-size: 12px;
    /* 调整箭头大小 */
  }
  .text {
    font-size: 12px;
    /* 调整文本大小 */
  }
  .post-goback-container{
   display: block;
  }
  .post-goback-container .post-goback-img-container {
    display: block;
  }
}