
.specialist-section {
  padding: 40px 20px;
  margin: 0 auto;
  font-size: 16px;
      font-family: 'assistant';
        letter-spacing: 0.05rem;
}

.specialist-section h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 30px;
  margin-left: 30px;
  font-weight: bolder;
}

.surgeon-profile {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3em;
  padding: 3em;
}

.profile-card {
  background-color: transparent;
  /* Slightly lighter gray for cards */
  overflow: hidden;
  align-items: stretch;
  flex: 1;
  max-width: 800px;
}

.profile-image {
  width: 100%;
  aspect-ratio: 16 / 9;
    /* 保持正方形 */
  object-fit: fill;
  /* 裁切以填满框 */
}

.profile-details h3 {
  font-size: 3rem;
}

.specialist-section .profile-image-container{
  padding-left: 48px;
  padding-right: 48px;
}

.profile-details .sub-title {
  font-weight: 200;
  margin-bottom: 4rem;
}

.profile-details .sub-p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.view-profile-btn {
  background-color: #ffffff;
  color: #4a4a4a;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.view-profile-btn:hover {
  background-color: #e0e0e0;
}

.profile-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-content .btn-container{
  text-align: start;
}

 .surgeon-profile .btn-container button{
   background-color: #FBCDB3;
   color: white;
   text-decoration: none;
  text-transform: uppercase;
 }

@media (max-width: 768px) {
  .surgeon-profile {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .surgeon-profile p{
    display: -webkit-box;
      /* Required for -webkit-line-clamp */
      -webkit-box-orient: vertical;
      /* Required for -webkit-line-clamp */
      overflow: hidden;
      /* Hide overflowing text */
      -webkit-line-clamp: 1;
      /* Limit to 1 line */
  }
  .profile-card{
    flex-direction: column;
  }
  .profile-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
  }
}