.reading-section {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1em;
}

.reading-section .reading-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
  font-weight:bold;
}

.reading-section .reading-list {
  list-style-type: none;
  padding: 0 !important;
}

.reading-section .reading-item {
  margin-bottom: 10px;
}

.reading-item a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.reading-item a:hover {
  text-decoration: underline;
}