.wp-block-hudsonblock-postquote{
    margin: auto;
    font-family: Arial, sans-serif;
    color: #333;
    border-radius: 5px;
    margin-top: 6em;
    margin-bottom: 6em;
    padding: 0 7.5vw;
}

.post-quote-container{
  // background-color: #f9f3ec;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.6em;
  padding-top:1em;
  display: flex;
  gap: 1em;
}

.post-quote-container .post-quote-text{
  padding: 0;
  letter-spacing: 0.05rem;
  font-size: 2em !important;
  line-height: 4rem !important;
}

.post-quote-symbole::before{
  content: "\201C";
  display: block;
  color: peachpuff;
  font-size: 8em;
  max-height: 1em;
  font-weight: 900;
  position: relative;
  top: -0.4em;
}

@media (max-width: 600px) {
  .post-quote-container .post-quote-text{
    font-size: 14px;
  }
  .post-quote-container .post-quote-text::before{
    font-size: 2em;
  }
  .post-quote-symbole:before{
    font-size: 4em;
  }
 .post-quote-container .post-quote-text{
  font-size: 1.6rem !important;
  line-height: 2.4rem !important;
 }
}