.wp-block-hudsonblock-postcompare{
  padding: 0 4rem;
  margin-bottom: 3rem;
}

.post-image-compare {
  display: flex;
  justify-content: space-between;
  width: 100%; /* 控制整个容器的宽度 */
  margin: 0 auto; /* 居中容器 */
}

.post-image-compare div {
  padding: 10px; /* 图片之间的间距 */
  position: relative; /* 为了定位文字 */
}

.post-image-compare img {
  width: 100% !important; /* 图片占据它所在div的全部宽度 */
  height: 100% !important;
  margin: 0 !important;
  transition: filter 0.5s ease; /* 在图片上应用模糊过渡 */
  object-fit: fill;
}

.compare-img-container{
  max-width: 30em;
  flex: 1;
}

img.blurred {
  filter: blur(10px); /* 直接在图片上应用模糊效果 */
}

/* 文本始终显示 */
.post-image-compare .after-image-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  z-index: 1; /* 确保文字在图片上方 */
}
.disable {
  display: none;
}

.post-image-compare .post-text{
  text-align: center;
  padding: 0;
  font-size: 1.8rem;
}