/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-hudsonblock-popularposts .popularposts-container{
  text-align: center;
  padding: 0 35px 0 35px;
}

.wp-block-hudsonblock-popularposts .slides{
  position: relative;
}

.wp-block-hudsonblock-popularposts .slide-item a{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  max-width: 40em;
  margin: auto;
}

.wp-block-hudsonblock-popularposts .slide-item a .thumbnail img{
  width: 100%;
  height: 100%;
}
.slick-prev , .slick-next{
  font-size: 0;
  border-radius: 50%;
  border: none;
  background-color: antiquewhite;
}
.slick-prev{
  position: absolute;
  left: -20px;
  top: 30%;
}
.slick-next {
  position: absolute;
  right: -20px;
  top: 30%;
}
.slick-prev::before {
  content: "<";
  font-size: 20px;
}
.slick-next::before {
  content: ">";
  font-size: 20px;
}

.thumbnail{
  width: 100%
}
.headline {
  width: 100%;
  font-size: 24px;
}
.abstract {
  width: 100%;
  font-size: 16px;
}
.wp-block-hudsonblock-popularposts h2{
  font-size: 2em;
}


@media(max-width:500px){
  .abstract{
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    /* Limits to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}