/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-hudsonblock-popularposts {
  text-align: center;
  padding: 2em;
  background-color: #FBCDB3;
  font-size: 1.6em;
}
.wp-block-hudsonblock-popularposts .headline {
  font-size: 1.5em;
}
.thumbnail{
  overflow: hidden;
  object-fit: contain;
  aspect-ratio: 16 / 6;
}
.post-carousel {
  position: relative;
}

.slides {
  display: flex;
  align-items: stretch; 
  gap: 10px;
}

.slide-item {
  flex: 1 0 50%;
  box-sizing: border-box; 
  padding: 10px;
}

.slide-item .thumbnail img {
  object-fit: cover;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 50em;
}
.slide-item .abstract {
  max-width: 31.25em;
  margin: auto;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #afa7a7;
  color: #fff;
  cursor: pointer;
  border: none;
}

.prev {
  left: 0em;
}

.next {
  right: 0em;
}


@media only screen and (max-width: 600px) {
  .wp-block-hudsonblock-popularposts .abstract{
    font-size: 0.6em;
  }
  .wp-block-hudsonblock-popularposts .headline {
    font-size: 1em;
  }
}